/***************** General edits for layout *****************/

body {
	padding-top: 125px;
	background-color: #f8f8f8;
}

.spacer1 {
	margin-bottom: 1%;
}

.spacer2 {
	margin-bottom: 2%;
}

.spacer3 {
	margin-bottom: 3%;
}

.spacer4 {
  margin-bottom: 4%;
}

.pull-top-half {
  margin-top: -.5em;
}

.sp-top-1em {
  margin-top: 1em;
}

.sp-top-2em {
  margin-top: 2em;
}

.sp-top-3em {
  margin-top: 3em;
}

.sp-left-1em {
  margin-left: 1em;
}

.sp-left-2em {
  margin-left: 2em;
}

.sp-left-3em {
  margin-left: 3em;
}

.pad-bottom-2em{
  padding-bottom: 2em;
}

.pad-5 {
  padding-bottom: 5px;
  padding-top: 5px;
}

.center-showcase {
  margin: 0 auto;
}

.max950 {
  max-width: 950px;
}


/************************************************************ Navbar-related *******************/


.navbar {
	min-height: 125px;
}

a.navbar-brand {
  margin-right: 0;
  min-height: 100px;
  padding-right: 3px;
}

.navbar-brand img {
	margin-top: -15px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent;
    border-bottom: 5px solid #FFA600;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	border-bottom: 5px solid #880011;
}

ul.dropdown-menu>li>a:hover {
  background-color: #ccc;
}

ul.dropdown-menu>li.li-separator>a {
  /*padding-left: 0;*/
  margin-left: -14px;
}

ul.navbar-right>li {
	margin-right: 10px;
	margin-top: 35px;
}

.li-separator {
	padding-left: 1em;
}


/****************** Carousel styles ******************/

.carousel img {
  width: 100%;
  /*min-height: 490px;*/
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 9999px;
    margin: 0 auto;
    text-align: center;
}

/****************** Text styles ******************/

.goudy {
	font-family: 'Sorts Mill Goudy', serif;
}

.allura {
  font-family: 'Allura', cursive;
}

.fnt-white {
	color: #fff;
}

.fnt-maroon {
  color: #880011;
}

.heavy {
	font-weight: 600;
}

.showcase-em {
  font-size: 18px;
}

.two-em {
  font-size: 2em;
}

.three-em {
  font-size: 3em;
}

.four-em {
  font-size: 4em;
}

.five-em {
	font-size: 5em;
}

.f40 {
	font-size: 40px;
}

.indent {
  text-indent: 1em;
}

.shadow {
	text-shadow: 	0px -4px 10px rgba(0,0,0,0.5),
								0px 4px 10px rgba(0,0,0,0.5),
								0px 0px 23px rgba(0,0,0,0.2);
}

.shadow-heavy {
  text-shadow:  0px -4px 10px rgba(0,0,0,0.7),
                0px 4px 10px rgba(0,0,0,0.7),
                0px 0px 23px rgba(0,0,0,0.5);
}

.carousel-caption {
	text-shadow: 	0px -4px 10px rgba(0,0,0,0.3),
								0px 4px 10px rgba(0,0,0,0.3),
								0px 0px 20px rgba(0,0,0,0.1);
}

.center {
	text-align: center;
}

.center-margin {
  margin: 0 auto;
}

/******************* Button styles *********************/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  /*padding: 6px 0;*/
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 75px;
}
.btn-circle.btn-xl {
  width: 200px;
  height: 200px;
  padding-top: 30px;
  font-size: 28px;
  line-height: 1.33;
  border-radius: 100px;
}

.btn-why {
  margin-top: 15px;
}

.btn-about {
	margin-top: 12px;
}

.btn-adm {
	margin-top: 23px;
	margin-left: 10px;
}

.btn-gold {
  color: #fff;
  background-color: #FFA600;
  border-color: #FFA600;
}
.btn-gold:focus,
.btn-gold.focus {
  color: #fff;
  background-color: #FFC000;
  border-color: #FFA600;
}
.btn-gold:hover {
  color: #fff;
  /*background-color: #ec971f;*/
  background-color: #FFC000;
  border-color: #FFA600;
}
.btn-gold:active,
.btn-gold.active,
.open > .dropdown-toggle.btn-gold {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-gold:active:hover,
.btn-gold.active:hover,
.open > .dropdown-toggle.btn-gold:hover,
.btn-gold:active:focus,
.btn-gold.active:focus,
.open > .dropdown-toggle.btn-gold:focus,
.btn-gold:active.focus,
.btn-gold.active.focus,
.open > .dropdown-toggle.btn-gold.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-gold:active,
.btn-gold.active,
.open > .dropdown-toggle.btn-gold {
  background-image: none;
}
.btn-gold.disabled:hover,
.btn-gold[disabled]:hover,
fieldset[disabled] .btn-gold:hover,
.btn-gold.disabled:focus,
.btn-gold[disabled]:focus,
fieldset[disabled] .btn-gold:focus,
.btn-gold.disabled.focus,
.btn-gold[disabled].focus,
fieldset[disabled] .btn-gold.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-gold .badge {
  color: #f0ad4e;
  background-color: #fff;
}

.btn-maroon {
  color: #fff;
  background-color: #880011;
  border-color: #880011;
}
.btn-maroon:focus,
.btn-maroon.focus {
  color: #fff;
  background-color: #bb0011;
  border-color: #880011;
}
.btn-maroon:hover {
  color: #fff;
  background-color: #bb0011;
  border-color: #880011;
}
.btn-maroon:active,
.btn-maroon.active,
.open > .dropdown-toggle.btn-maroon {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-maroon:active:hover,
.btn-maroon.active:hover,
.open > .dropdown-toggle.btn-maroon:hover,
.btn-maroon:active:focus,
.btn-maroon.active:focus,
.open > .dropdown-toggle.btn-maroon:focus,
.btn-maroon:active.focus,
.btn-maroon.active.focus,
.open > .dropdown-toggle.btn-maroon.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-maroon:active,
.btn-maroon.active,
.open > .dropdown-toggle.btn-maroon {
  background-image: none;
}
.btn-maroon.disabled:hover,
.btn-maroon[disabled]:hover,
fieldset[disabled] .btn-maroon:hover,
.btn-maroon.disabled:focus,
.btn-maroon[disabled]:focus,
fieldset[disabled] .btn-maroon:focus,
.btn-maroon.disabled.focus,
.btn-maroon[disabled].focus,
fieldset[disabled] .btn-maroon.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-maroon .badge {
  color: #f0ad4e;
  background-color: #fff;
}

.btn-gray {
  color: #333;
  background-color: #ddd;
  border-color: #ddd;
}
.btn-gray:focus,
.btn-gray.focus {
  color: #333;
  background-color: #eee;
  border-color: #ddd;
}
.btn-gray:hover {
  color: #333;
  background-color: #eee;
  border-color: #ddd;
}
.btn-gray:active,
.btn-gray.active,
.open > .dropdown-toggle.btn-gray {
  color: #333;
  background-color: #eee;
  border-color: #ccc;
}
.btn-gray:active:hover,
.btn-gray.active:hover,
.open > .dropdown-toggle.btn-gray:hover,
.btn-gray:active:focus,
.btn-gray.active:focus,
.open > .dropdown-toggle.btn-gray:focus,
.btn-gray:active.focus,
.btn-gray.active.focus,
.open > .dropdown-toggle.btn-gray.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-gray:active,
.btn-gray.active,
.open > .dropdown-toggle.btn-gray {
  background-image: none;
}
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled.focus,
.btn-gray[disabled].focus,
fieldset[disabled] .btn-gray.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-gray .badge {
  color: #fff;
  background-color: #333;
}


/**************************************************** Generic Color Styles *********************/


.maroon {
	background-color: #880011;
}

.gold {
  background-color: #FFA600;
}

.gray {
  background-color: #111;
}

.gray-footer {
  background-color: #444;
}

.white {
  background-color: #fff;
}

.lnk-wht {
  color: #fff;
}

.lnk-wht:hover {
  color: #fff;
}

.lnk-wht-f {
  color: #fff;
}

.lnk-wht-f:hover {
  color: #3b5998;
}

/**************************************************** Image Styles *********************/
.img-inline-md {
  width: 40%;
  margin: 1% 2% 1% 0;
}

.img-inline-sm {
  width: 15%;
  margin: 1% 2% 1% 0;
}

.img-inline-20 {
  width: 20%;
}

.img-inline-30 {
  width: 30%;
}

.img-inline-center {
  width: 80%;
  margin: 2% auto;
}

.thumbnail img.img-responsive {
  max-width: 100%;
}

img.pull-right {
  margin: 1% 0 0 1%;
}

img.pull-left {
  margin: 1% 1% 0 0;
}

.box8 {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}