/***************** General edits for layout *****************/

body {
  padding-top: 70px;
  background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.race-main {
  padding: 50px 25px;
}

/****************** Text styles ******************/
@font-face {
    font-family: "race";
    src: url(../fonts/LondonTwo.ttf) format("truetype");
}

.racefont {
    font-family: "race", Verdana, Tahoma;
}

.base-em {
  font-size: 1.2em;
}
/***************** Image Styles *********************/
.img-responsive {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
